/.metadata
/RemoteSystemsTempFiles
/cv01/Debug
/cv02/Debug
/cv03_a/Debug
/cv03_b/Debug
/cv03/Debug
/cv04/Debug
/cv05/Debug
/cv06/Debug
/cv07/Debug
/cv09/Debug
/Exercise08/Debug
/Excerise9/Debug
/cv10/Debug
/Experiment
/cviceni_3
/cviceni_4
/MKS_cv10_src
/Zkouska_mpc_mks/Debug